body{
    width:100%;
    max-width:1200px;
    margin: auto;
    font: 15px, arial,
}
.structural{
    margin: 10px;
    padding:10px;
}
h1{
    color:#0000ff;
    font: size 10px;
}
h2{
    color:#8b008b;
    font: size 15px;
}
main{
    height:70vh;
}
figure img{
    border:1px, solid #0000;
    width:90%;
    height:80%;
}
figure{
    float:right;
    background-color: #f0f8ff;
    width:45%;
    height:60%;
    margin:auto;
    padding:10px;
}
figure{
    float:left;
    background-color: #f0f8ff;
    width:45%;
    height:60%;
    margin: auto;
    padding: 10px;
}
section{
    clear: both;
}
figcaption{
    font-weight:initial ;
    font-size: 15px;
    color:#ff0000;
    padding:5px;
}
a{
    color:#00ffff;
}
a:hover{
    color: #723838;
}
ul{
    list-style: circle;
    line-height:1.10;
}
header,footer{
    background-color: #d6dfe7;
    color:#ffff00;
}

